<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>История</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body align="middle">

<div class="container">
    <h1>История</h1>
    <div align="middle">

        <table class="table table-hover">
            <thead>
            <tr>
                <th>Исходная валюта</th>
                <th>Целевая валюта</th>
                <th>Исходная сумма</th>
                <th>Получаемая сумма</th>
                <th>Дата</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="h : ${history}">

                <td th:text="${h.fromValute}"/>
                <td th:text="${h.toValute}"/>
                <td th:text="${h.fromValue}"/>
                <td th:text="${h.toValue}"/>
                <td th:text="${h.date}"/>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
<a href="https://www.w3schools.com/html/html_links.asp" th:href="@{/converter}" class="btn btn-default">Конвертер</a>
</div>
</body>
</html>